#notificador{
    display: none;
  
  }
  
  
  
  #txtpaciente{
      display: none;
  
    }
  
  
   
    
  
    #informacoescapilar{
      display: none;
  
    }
  
  
    #mostrarinfomed{
      display: none;
  
    }
  

    
#geral{
  
  display: none;
}




    
   

    
   
 


